html
    head
        meta(charset = 'utf-8')
        meta(name='viewport' content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="../assets/Header.css")
        title Header & Footer
    body
        .logo
        .nav
            .container
                .nav_logotip
                ul.navigation
                    li.navigation__item
                        a(href="#") Home
                    li.navigation__item
                        a(href="#") About US
                    li.navigation__item
                        a(href="#") Services
                        img.checked(src="img/icon/check.png")
                    li.navigation__item
                        a(href="#") News
                    li.navigation__item
                        a(href="#") Documentation
                    li.navigation__log
                        a(href="#") login
                    li.navigation__register
                        a(href="#") register
            //tho navigation
        .nav
            .container
                .nav_logotip
                ul.navigation
                    li.navigation__item-tho
                        a(href="#") Home
                    li.navigation__item-tho
                        a(href="#") About US
                    li.navigation__item-tho
                        a(href="#") Services
                        img.checked(src="img/icon/check.png")
                    li.navigation__item-tho
                        a(href="#") News
                    li.navigation__item-tho
                        a(href="#") Documentation
                    li.navigation__item-tho
                        a(href="#") Cosmin Negoita
        //free block
        .nav-bar
            .container
                .nav-wrapp
                    .nav-logotip
                        img(src="img/logo/Logo2.png")
                        .nav-logotip_text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo fugiat temporibus dolores deserunt doloremque iste voluptas non odio.
                    .nav-navigation
                        ul
                            li(href="#") Navigation
                            li(href="#") About Us
                            li(href="#") News
                            li(href="#") Support
                            li(href="#") Products

                    .nav-about
                        ul
                            li(href="#") ABOUT US
                            li(href="#") Who we are
                            li(href="#") Our team
                            li(href="#") Careers
                            li(href="#") Investors

                    .nav-support
                        ul
                            li(href="#") Support
                            li(href="#") Documentation
                            li(href="#") Community
                            li(href="#") Get in Touch

                    .nav-subscribe
                        ul
                            li(href="#") Subscribe to our newsletter
                            li(href="#") Receive our latest news and promotions in your inbox!
                        input(placeholder="Your email address")
        .nav-copyrait
            .container
                .nav-copyrait_text Copyright © 2018 Toxin UI Kit. All rights reserved.
                .nav-copyrait_icon
                    ul
                        li.twitter
                        li.faceboock
                        li.instagram


script(type="text/javascript" src="../dist/main.js")